section.about#section-2
    .about__left
        .about__block
            h1.about__title About Plae
            .about__text 
                p Previously a Designer for Puma and Adidas, Head Designer 
                    |Ryan Ringholz has started a new revolution in kids trainers. 
                    |Using technology usually reserved for elite athletes, 
                    |Plae creates shoes designed especially for a child’s foot.

                p Because kids feet are always growing, their shoes should accommodate 
                    |leaving the cartilage and fledgling bone room to grow its own way. 
                    |The interchangeable tabs adjust to accommodate thinner, wider or 
                    |thicker feet and nearly all Plae shoes can fit an AFO orthotic brace.

                p With their dynamic traction, little feet can feel the ground beneath 
                    |them and get a grip on it. The rest is designed to elite athlete standards: 
                    |super shock absorption, durable toe guards, and wicking, washable anti-microbial inserts.

                p With every shoe, Plae sources responsible, recycled, and non-toxic materials, 
                    |and makes sure manufacturing and labour is fair and child-free.
    .about__right.image__section