section.review
    .review__left.image__section
        img.half-section__image(src='assets/img/charlie.png')        
            
    .review__right.charlie__right
        article.review-block
            h2.review__title What our customers say
            .review__contents
                .review__open-quote &lsquo;&lsquo;
                .review__close-quote &rsquo;&rsquo;
                p.review__text I like them because they are very comfy and soft inside. 
                            |They are really light which means I run faster. I like the cool 
                            |straps that I can change
                span.review__author Charlie (age 8)