section.review#section-4

    .review__left.edie__left
        article.review-block
            .review__contents
                .review__open-quote &lsquo;&lsquo;
                .review__close-quote &rsquo;&rsquo;
                p.review__text I like that I can do PE in them because they're so 
                                |comfy and then after school in the park, the bottoms 
                                |are grippy so I can climb really well
                span.review__author Edie (age 6)
    
    .review__right.image__section