section.header#section-1
    .header__background
    .header__gradient
    .header__logo
        img.header__logo-img(src="assets/img/logo.png")
    .signup
        .signup__title Coming Soon
        .signup__text goplae.co.uk is coming soon but in the meantime check out this page 
                        |and sign up to our newsletter for more information
        form.form
            input.form__email(type="email" placeholder="Enter email address")
            button.form__submit(type="submit") Sign Up