section.range
    h1.range__title The Range
    p.range__text View the stiles available now from select stocklist
    .range__img-block
        .range__arrow
            svg.arrow.arrow-left
                use(xlink:href="assets/img/sprite.svg#arrow-left")
        img.range__img(src="assets/img/shoes/shoe.png")
        .range__arrow
            svg.arrow.arrow-right
                use(xlink:href="assets/img/sprite.svg#arrow-left")
    span.range__type TY
    span.range__num 1 / 7