section.soon
    .soon__message
        h2.soon__title Be the first to see goplae.co.uk
        .soon__text Sign Up for the latest news
        form.form
            input.form__email(type="email" placeholder="Enter email address")
            button.form__submit(type="submit") Sign up