section.stockist
    h2.stockist__title Where can you find us?
    p.stockist__text See below our UK stockist kist
    include ../parts/stockistlist
    h2.contacts__title Like to stock Plae?
    p.contacts__text Call or email us to send an inquiry
    .contacts
        a.contacts__email(href="hello@goplae.co.uk") hello@goplae.co.uk
        span.contacts__phone 07947 301292