section.why#section-6
    h2.why__title Why Plae?
    p.why__text Some of the features that make Plae shoes so good for kids
    .why__plae
        img.why__shoes-img(src="assets/img/plaeshoe.png")
        include ../parts/whyleftlist
        include ../parts/whyrightlist