ul.stock-list
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 
    li.stock
        address.stock__address
            .stock__title Best Foot Forward
            .stock__street 76 Liverpool Road
            .stock__city Preston
            .stock__zip PR1 0QD
            .stock__phone 0208 969 7565
            .stock__site bestfootforward.co.uk 