ul.features__list.features__left-list
    li.feature
        #f1
        .feature__title Pull Tab
        p.feature__text makes it easy for little hands and fingers to get their shoes on.
    li.feature
        #f2
        .feature__title Shock Absorption
        p.feature__text removable ECO-ORTHOLITE® anti-microbial, anti-bacterial insole, 
                        |made from castor beans, provides superior protection with renewable resources.
    li.feature
        #f3
        .feature__title Custom Fit & Style
        p.feature__text interchangeable tabs come in S,M,L,XL sizes to accommodate instep widths and allows 
                        |kids to make it their own with different color, material and print options. Plae 
                        |shoes also have the ability to fit AFO orthotic braces.
    li.feature
        #f4
        .feature__title Eco-Friendly
        p.feature__text made in a solar powered, fair labour factory using recycled milk jugs (PET), 
                        |ISO certified leathers, and water-based glues. 