ul.features__list.features__right-list
    li.feature
        #f5
        .feature__title Machine Washable*
        p.feature__text for when kids get dirty.

    li.feature
        #f6
        .feature__title Anatomical Form
        p.feature__text specially engineered sole follows the natural contour of a 
                        |child’s foot - which is mostly cartilage.

    li.feature
        #f7
        .feature__title Flexible Sole
        p.feature__text promotes natural movement by allowing for a free range of movement.

    li.feature
        #f8
        .feature__title Passive Traction
        p.feature__text promotes natural movement by providing grip on loose earth 
                        |without compromising contact on hard surfaces.

    li.feature
        #f9
        .feature__title Toe Guard
        p.feature__text protects both the foot and shoe from toe drag.