.chat-window {
  min-width: 360px;
  max-width: 720px;
}

.chat-window__contents {
  padding: 20px;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.manager {
  margin-bottom: 25px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.manager__right {
  padding-top: 10px;
  float: right;
  width: calc(100% - 135px);
}

.manager__photo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.manager__img {
  height: 172px;
  margin-left: -35px;

}

.manager__name {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.manager__position {
  color: #b9b9b9;
  font-size: 12px;
  margin-bottom: 5px;
}

.manager__quote {
  margin-left: -75px;
  margin-bottom: 15px;
  font-size: 14px;
  left: 60px;
  top: 50%;
  padding-left: 70px;
  border: 2px solid #cbcabf;
  border-radius: 4px;
  background: #fffbc8;
  z-index: -1;
}

.services {
  float: right;
  min-width: 320px;
  width: calc(100% - 135px);
}

.services__title {
  font-size: 13px;
  width: 100%;
  text-align: right;
  height: 20px;
  padding-right: 30px;
}

.services__list {
  border-top: 1px solid #cbcabf;
  border-bottom: 1px solid #cbcabf;
  padding: 20px 30px 20px 0;
  margin-bottom: 15px;
}

.service-item {
  border: 1px solid transparent;
  border-left-color: #cbcabf;
  padding-left: 5px;
  position: relative;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.service-item__progress {
  position: absolute;
  background: #ace2f8;
  border-left: none;
  height: 100%;
  z-index: -3;
  left: 0;
  top: 0;

  &.service-item__first {
    background: #b1e19b;
    width: 70%;
  }

  &.service-item__second {
    width: 20%;
  }

  &.service-item__last {
    width: 15%;
  }
}

.service-item__name {
  font-size: 13px;
  display: inline-block;
  line-height: 2;
}

.service-item__quantity {
  display: inline-block;
  font-weight: bold;
  float: right;
  padding-top: 3px;
  font-size: 13px;
  padding-top: 4px;
}

.services__total {
  font-weight: bold;
  padding-right: 30px;
}

.total__all {
  display: inline-block;
}

.total__num {
  float: right;
}

.discussion__head {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.discussion__head-left {
  display: inline-block;
}

.discussion__last {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;


  @media screen and (max-width: 390px) {
    font-size: 14px;
  }
}

.discussion__all {
  display: inline-block;
  color: #005da1;
  text-decoration: underline;

  @media screen and (max-width: 390px) {
    font-size: 14px;
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.discussion__head-right {
  float: right;
}

.discussion__likes, .discussion__total,
.discussion__likes-icon, .discussion__likes-num,
.discussion__total-icon, .discussion__total-num {
  display: inline-block;
}

.discussion__likes-num, .discussion__total-num {
  font-size: 12px;
}

.fa {
  font-size: 15px;
  color: #73b4d5;
}

.post {
  margin-bottom: 20px;
}

.post__author {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
}

.post__date {
  font-size: 13px;
  display: inline-block;
  color: #828282;
}

.post__text {
  border: 1px solid #cfcfcf;
  background: #f2fbff;
  position: relative;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
}

.post__triangle {
  top: -11px;
  left: 13px;
  border: 10px solid transparent;
  border-bottom-color: #cfcfcf;
  position: absolute;
  display: inline-block;
  content: "";
  transform: rotate(227deg);

  &:after {
    border: 9px solid transparent;
    border-bottom-color: #f2fbff;
    display: inline-block;
    position: absolute;
    content: "";
    left: -11px;
    top: -9px;
  }
}

#form {
  padding: 30px 20px 35px;
  background: #f2f2f2;
  text-align: center;
}

#form__text {
  width: 100%;
  margin-bottom: 25px;
}

#form__button {
  background: #fdd639;
  height: 42px;
  width: 280px;
  border-right: 21px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'PTSansBold';
  border-radius: 21px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border: 2px solid #cdcdcd;
  }
}