body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.42;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 1280px;
  width: 1280px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

input, textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
}