.nav {
    position: fixed;
    height: 100vh;
    width: 115px;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.dotlist__item {
    margin: 0 auto;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    margin-bottom: 21px;
}

.item_active {
    height: 12px;
    width: 12px;
}