.nav {
    position: fixed;
    height: 100vh;
    width: 115px;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;

    @include laptop() {
        width: 100px;
    }

    @include tablet() {
        width: 80px;
    }

    @include phone() {
        width: 30px;
        background: transparent
    }
}