.review {
    height: 100vh;
    display: flex;
    
    @include phone() {
        height: auto;
    }

    @include phone() {
        flex-flow: column;
    }
}

.review#section-4 {
    @include phone() {
        flex-direction: column-reverse
    }
}

.review__right, .review__left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    
    @include phone() {
        height: 100vh;
        width: 100%;
    }
}

.review#section-3 .image__section {
    background-image: url('../img/charlie.jpg');
    background-size: cover;
    background-position: right
}

.review#section-4 .image__section {
    background-image: url('../img/edie.jpg');
    background-size: cover;
    background-position: center
}

.charlie__right, .edie__left {
    display: flex;
    justify-content: center;
    align-items: center
}

.review-block {
    width: 420px;
    padding: 0 20px;
}

.review__title {
    font-family: 'nunitosemibold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;

    @include tablet() {
        font-size: 25px;
    }

    @include phone() {
        font-size: 20px;
        margin-bottom: 40px
    }
}

.review__contents {
    position: relative;
    text-align: center
}

.review__open-quote {
    top: -25px;
    left: 0;
    position: absolute;
    font-size: 80px;
    color: #dcdcdc;
    font-family: 'nunitoextrabold', sans-serif;

    @include tablet() {
        font-size: 60px;
        top: -15px;    
    }
}

.review__close-quote {
    bottom: 25px;
    right: 0;
    position: absolute;
    font-size: 80px;
    color: #dcdcdc;
    font-family: 'nunitoextrabold', sans-serif;

    @include tablet() {
        font-size: 60px;
        bottom: 15px;    
    }
}

.review__text {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 50px 0;
    text-align: center;
    width: 330px;
    font-family: 'yantramanavregular', sans-serif;
    font-size: 20px;

    @include tablet() {
        font-size: 15px;
        width: 85%;
        margin-bottom: 40px;
    }

    @include phone() {
        font-size: 14px;
    }
}

.review__author {
    font-family: 'yantramanavregular', sans-serif;
    font-size: 18px;

    @include tablet() {
        font-size: 14px;
    }

    @include phone() {
        font-size: 13px;
    }
}