.header {
    position: relative;
    height:100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    background: url('../img/header.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header__background {
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background: url('../img/header.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(5px);
    position: absolute;
}

.header__gradient {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    position: absolute;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: radial-gradient(rgba(0,0,0, .5),rgba(120, 120, 120, .2)); /* Standard syntax */
    }
}

.header__logo {
    position: absolute;
    left: 35px;
    top: 35px;

    @include laptop() {
        left: 30px;
        top: 30px;
    }

    @include tablet() {
        left: 25px;
        top: 25px;    
    }
}

.header__logo-img {
    @include tablet() {
        height: 40px;
        width: 90px;
    }
}

.signup {
    align-self: center;
    z-index: 1;
    text-align: center;
    width: 620px;
    height: 250px;
    position: relative;

    @include tablet() {
        width: 450px;
    }
    
    @include phone() {
        width: 300px;
    }
}

.signup__title {
    font-size: 60px;
    padding-bottom: 10px;
    color: white;
    font-family: 'nunitosemibold', sans-serif;

    @include laptop() {
        font-size: 55px;
    }

    @include phone() {
        font-size: 40px;
        padding-bottom: 5px;
    }
}

.signup__text {
    font-family: 'yantramanavregular', sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 50px;

    @include laptop() {
        font-size: 18px;
        padding-bottom: 40px;
    }

    @include phone() {
        font-size: 16px
    }
}

.form {
    height: 50px;
    width: 480px;
    border-radius: 25px;
    overflow: hidden;
    font-size: 0;
    margin: 0 auto;

    @include tablet() {
        width: 350px;
    }

    @include phone() {
        display: flex;
        border-radius: 0;
        flex-flow: column;
        align-items: center;
        height: 60px;
        width: 85%;
    }
}

.form__email {
    width: 310px;
    height: 100%;
    padding-left: 30px; 
    font-size: 18px;
    font-family: 'yantramanavitalic', sans-serif;

    @include tablet() {
        width: 230px;
        font-size: 16px;
    }

    @include phone() {
        padding-left: 0;
        text-align: center;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.form__submit {
    width: 170px;
    height: 100%;
    padding: 0;
    background: #20ab50;
    font-size: 20px;
    color: white;
    font-family: 'nunitoregular', sans-serif;

    @include tablet() {
        width: 120px;
        font-size: 17px
    }

    @include phone() {
        border-radius: 5px;
        font-size: 15px;
    }
}