.soon {
    text-align: center;
    padding: 115px;
    background: #f3f3f3;
}

.soon__title {
    font-family: 'nunitosemibold', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.soon__text {
    font-family: 'nunitosemibold', sans-serif;
    font-size: 20px;
    margin-bottom: 45px;
}