extends ../_template

block variables
  - var title = 'Test task'

block content
  include ../sections/header
  include ../sections/about
  include ../sections/charlie
  include ../sections/edie
  include ../sections/range
  include ../sections/why
  include ../sections/stockist
  include ../sections/soon
  include ../parts/nav